.container {
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1320px) {
  .container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

input {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  background-color: transparent;
  color: #000000;
  border: none;
  cursor: pointer;
}

figure {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbf9f7;
  color: #000000;
  font-family: roboto, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  height: auto;
}

.page {
  flex: 1 1 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section-notes__body {
  padding-top: 60px;
}
.section-notes__btn {
  padding: 12px;
  border: 1px solid #000000;
  border-radius: 5px;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  font-size: 16px;
  font-weight: 400;
}
.section-notes__btn:hover {
  background-color: #000000;
  color: #fbf9f7;
}

.table-notes {
  width: 100%;
}
.table-notes tr {
  margin-bottom: 10px;
}
.table-notes__header {
  background-color: #383838;
  color: #fbf9f7;
}
.table-notes__header th {
  padding: 20px;
  font-size: 18px;
}
.table-notes__row {
  background-color: #f5f4fa;
}
.table-notes__row--column {
  padding: 20px;
}
.table-notes__btn-block button {
  padding: 12px;
  border: 1px solid #000000;
  border-radius: 5px;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  font-size: 16px;
  font-weight: 400;
}
.table-notes__btn-block button:hover {
  background-color: #000000;
  color: #fbf9f7;
}

.section-notes__modal {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}
.notes-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  min-height: 581px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.notes-modal__content {
  width: 100%;
}
.notes-modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}
.notes-modal__overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.notes-modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  outline: none;
  background-image: url("../../images/icons/icon-close.svg");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}
.notes-modal__btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.form-notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-notes__header {
  text-align: center;
  margin-bottom: 26px;
}
.form-notes textarea {
  resize: none;
}
.form-notes label {
  margin-bottom: 12px;
}
.form-notes__input {
  padding: 16px;
}
.form-notes__input:not(:last-child) {
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */