.section-table {
  // .section-table__body

  &__body {
    padding-top: 60px;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;

  & tr {
    margin-bottom: 10px;
  }

  // .table__header

  &__header {
    background-color: $primary-gray-color;
    color: $primary-white-color;
  }

  // .table__header--column

  &__header--column {
    padding: 20px;
    font-size: 18px;
  }

  // .table__row

  &__row {
    background-color: $secondary-background-color;
  }

  &__row--column {
    padding: 20px;
  }
}
