.section-notes {
  // .section-table__body

  &__body {
    padding-top: 60px;
  }

  &__btn {
  }

  &__modal {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
}

.table-notes {
  width: 100%;
  // border-collapse: collapse;

  & tr {
    margin-bottom: 10px;
  }

  // .table__header

  &__header {
    background-color: $primary-gray-color;
    color: $primary-white-color;
  }

  // .table__header--column

  &__header--column {
    padding: 20px;
    font-size: 18px;
  }

  // .table__row

  &__row {
    background-color: $secondary-background-color;
  }

  &__row--column {
    padding: 20px;
  }
}

.form-notes {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__header {
    text-align: center;
  }
}
