$primary-text-color: #000000;
$secondary-text-color: #868483;
$accent-color: #e7dab1;

$primary-gray-color: #383838;
$primary-black-color: #000000;
$primary-white-color: #fbf9f7;

$secondary-background-color: #f5f4fa;
$gray-background-color: #e6e1db;

$animation-duration: cubic-bezier(0.4, 0, 0.2, 1);
$timing-function: 250ms;
